.flex-container{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

html{
    font-family: "Segoue UI", "Candara", sans-serif;
}

.flex-item {
    background: lightsteelblue;
    padding: 5px;
    width: 100px;
    height: 100px;
    margin: 5px;
    line-height: 90px;
    color: white;
    font-weight: bold;
    font-size: 4em;
    text-align: center;
}

#whichTurn{
    text-align: center;
    color: red;
}

#gameNum{
    text-align: center;
    font-size: 80%;
    color: slategray;
}

#winner{
    text-align: center;
    color: darksalmon;
}
#timer{
    text-align:center;
}
form{
 
    text-align: left;
    padding: 10px;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    min-width: 135px;
}

header{
    text-align: center;
}

footer{
    font-size: 65%;
    padding: 50px;
    text-align: center;
}

.restartButton{
    background-color: indianred;
}


button{
    padding: 7px;
    background-color: greenyellow;
    align-items: center;
    width: 10%;
    min-width: 53px;
    margin-left: 45%;
    margin-right: 45%;
    text-align: center;


}
